<h2>Informations</h2>

<form id="form-track" method="POST" action="{{action}}" enctype="multipart/form-data">

	<input type="hidden" value="{{ track.id }}" name="id">

	<div> 
		<label for="title"></label>
		<input id="input-form" type="text" placeholder="Titre" value="{{ track.name }}" name="title" >
		{% if errors.name is defined %}
        	{{ errors.name }}
		{% endif %}
	
	</div> 

	<div> 
		<input id="input-form" type="text" placeholder="Artiste" value="{{ track.artist }}" name="artist" >
		{% if errors.artist is defined %}
        	{{ errors.artist }}
		{% endif %}
	</div>

	<div>
		<input id="input-form" type="text" placeholder="Album" value="{{ track.album }}" name="album" >
		{% if errors.album is defined %}
        	{{ errors.album }}
		{% endif %}
	</div>

	<div>
		<input id="input-form" type="file" name="mp3" id="mp3" >
		{% if errors.mp3 is defined %}
        	{{ errors.mp3 }}
		{% endif %}
	</div>

	<div id="add-to-flux">
		<label for="flux"> Ajouter au flux</label>
		<input type="checkbox"  name="flux" id="flux" {% if track.is_in_flux == 1 %}  checked {% endif %} >
	</div>

	<div>

    <button id="btn-submit" type="submit" value="Submit"> {{button}} </button>

	</div>

	<div>{{messageEnvoi}}</div>

</form>
 