{% extends '/admin/layout.html.twig' %}

{% block content %}

    <div id="contenu-admin-track-add">

    {% block header %}{% include "admin/header.html.twig" %}{% endblock %}

        <h1>Informations du track</h1>

            <div id="contenu-admin-tracks">

        <div id="input-form"> Titre : {{ track.name }}</div> 
        <div id="input-form"> Artiste : {{ track.artist }}</div>
        <div id="input-form">Album : {{ track.album }}</div> 
        <div> Est dans le flux : {% if track.is_in_flux == 1 %} Oui {% else %} Non {% endif %}</div>
        <br/>
        
        <div id="button-show-track">

            <a href="/admin/tracks/edit?id={{ track.id }}"><button class="buttons">Modifier la track</button></a>

            <form action="/admin/tracks/delete" method="POST">
                <input type="hidden" name="id" value="{{ track.id }}">

            <button class="buttons">Effacer</button>
            </form>
        </div>

            <br/>

        <a href="/admin/tracks"><button id="retour"> Retour</button></a>

    </div>
</div>

{% endblock %}
