{% extends '/admin/layout.html.twig' %}

{% block content %}

    <div id="contenu-admin-track-add">

    {% block header %}{% include "admin/header.html.twig" %}{% endblock %}

        <h1>Informations du track</h1>

            <div id="contenu-admin-tracks">

        <div id="input-form"> Titre : {{ track.name }}</div> 
        <div id="input-form"> Artiste : {{ track.artist }}</div>
        <div id="input-form">Album : {{ track.album }}</div> 
        <div> Est dans le flux : {%  if track.flux == 1 %} Oui {% else %} Non {% endif %}</div>
        <br/>
        
        <a class="buttons" href="/admin/tracks/edit?id={{ track.id }}">Modifier la track</a>

            <br/>

        <form action="/admin/tracks/delete" method="POST">
            <input type="hidden" name="id" value="{{ track.id }}">
                        <br/>

            <button class="buttons">Effacer</button>
        </form>

            <br/>

        <a class="buttons" href="/admin/tracks">Retour</a>

    </div>
</div>

{% endblock %}
