{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Track: {{ track.name }}</h1>
    <p> Titre : {{ track.name }} <br> 
    Artiste : {{ track.artist }}<br> 
    Album : {{ track.album }}<br> 
    Est dans le flux : {%  if track.flux == 1 %} Oui {% else %} Non {% endif %}
    </p>
    <a href="/tracks/edit?id={{ track.id }}">Modifier la track</a>
    <form action="/tracks/delete" method="POST">
        <input type="hidden" name="id" value="{{ track.id }}">
        <button>Effacer</button>
    </form>
    <a href="/tracks">Retour</a>
{% endblock %}
