
<form method="post" action="{{action}}" enctype="multipart/form-data">

<div> 
	<label for="name"></label>
	<input type="text" placeholder="name" value="{{ playlist.name }}" name="name" >
		{% if errors.name is defined %}
        	{{ errors.name }}
		{% endif %}	
</div> 

<div>
        <label for="description"></label>
        <input type="text" placeholder="ajouter description" value="{{ playlist.description }}" name="description" ></input>
		{% if errors.description is defined %}
        	{{ errors.description }}
		{% endif %}	
</div> 

<div>
		<input type="file" name="img" id="img" >
		{% if errors.jpg is defined %}
        	{{ errors.jpg }}
		{% endif %}
</div>

<div>
  <input type="checkbox" id="is_online" name="is_online"
         checked>
  <label for="online">Mettre en ligne</label>
</div>

<div>
  <input type="text" id="tag" name="tag" value="{{ playlist.tag }}">
  <label for="tag"></label>
</div>

<div>
		<button class="buttons"type="submit" value="Submit"> Ajouter la playlist </button>
</div>
 
<div> {{messageEnvoi}}</div>

</form>
