{% extends '/admin/layout.html.twig' %}

{% block content %}

    <div id="contenu-admin-track-add">

        {% block header %}{% include "admin/header.html.twig" %}{% endblock %}

            <h1>Informations de la playlist</h1>

        <div id="contenu-track-edit">

                <div id="track-edit-left">
        
                    <div id="input-description"> Titre :
                        <span id="playlist-name"> {{ playlist.name }}</span>
                    </div>
                    
                    <div id="input-description"> Description : 
                        {{ playlist.description }}</div>
                    
                    <div> <img id="imgPlaylist" src="{{playlist.img}}"> </img></div> <br>


        <div id="buttons-admin-playlists">

                <a href="/admin/playlists/edit?id={{ playlist.id }}"><button class="buttons-playlists">Modifier la Playlist</button></a>

                <form action="/admin/playlists/delete" method="POST">
                    <input type="hidden" name="id" value="{{ playlist.id }}">
                    <button class="buttons-playlists">Effacer</button>
                </form>

                    
        </div>
        
        <div>
       <h2>Liste des tracks dans cette playlist</h2>
                
     <ol id="playlist">
     {% for track in tracksInPlaylist %} 
        <ul> 
           <a href="{{track.mp3}}"><strong>{{track.title}}  </strong>- {{track.artist}} </br>{{track.album}} </a>
        </ul>
    {% endfor %}
    </ol>
        </div> 

    <br/>

    <a href="/admin/playlists"><button id="retour">Retour</button></a>

    <br/>

{% endblock %}                