{% extends '/admin/layout.html.twig' %}

{% block content %}

{% block header %}{% include "admin/header.html.twig" %}{% endblock %}
         
    <h1> Ma playlist </h1>
    <p>Playlist: {{ playlist.name }}</p>
    <p>Description : {{ playlist.description }}</p><br> 

    <div> <img class="imgPlaylist" src="{{playlist.img}}"> </img></div> <br>
      
    <div>
        <a href="/admin/playlists/edit?id={{ playlist.id }}">Modifier la Playlist</a>
    </div>

    <form action="/admin/playlists/delete" method="POST">
        <input type="hidden" name="id" value="{{ playlist.id }}">
        <button class="buttons"></button>
    </form>

    <div>
	    <a href="/admin/playlists"><button class="buttons">Retour </button></a>
    </div>
  
    <div id="playlist-edit-right">
        
        <h2>Les tracks</h2><br>
        
        <ol id="playlist"> 
        {% for track in tracksInPlaylist %}
          <ul><strong>{{track.title}}  </strong>- {{track.artist}} </br>{{track.album}}</ul>
        {% endfor %}
        </ol>

    </div>
    
{% endblock %}                